##  Data Cleaning
---

### Nama Anggota:
- Irene Belicia Alden Wijayanto (23/520057/TK/57308)
- Nabilah Holizah (23/521132/TK/57473)
- Rezinda Febri Wahyu D (23/522081/TK/57602)
- Luna Aqila Nayawijaya (23/542959/TK/57782)
- Aurelia Fitri Sholehah (23/512333/TK/56316)

##### <div style="text-align: justify;">database yang berisi sampel data on-orbit dari sistem kelistrikan (Electrical Power System, EPS) pada empat CubeSat 1U yang termasuk dalam konstelasi BIRDS. EPS bertanggung jawab untuk menyediakan daya tanpa gangguan kepada seluruh sistem satelit, baik selama penerangan matahari maupun dalam fase eclipse. CubeSat-CubeSat ini didasarkan pada bus terbuka standar BIRDS yang dirancang oleh Kyutech untuk penelitian dan pendidikan. Satelit-satelit ini diluncurkan ke orbit oleh roket Antares dalam misi pengiriman pasokan ke Stasiun Luar Angkasa Internasional (ISS) dan dilepaskan dari ISS ke orbit ISS pada ketinggian 400 km, dengan inklinasi 51,6° dan durasi 92,6 menit. Dataset ini mencakup data tegangan (mV), arus (mA), dan suhu (Celsius) dari baterai dan panel surya yang terpasang di lima sisi satelit.</div>
##### <div style="text-align: justify;">Data pada dataset ini dikumpulkan oleh komputer on-board setiap 90 detik dalam mode operasi nominal atau setiap 10 detik dalam mode pengambilan sampel cepat. Data ini kemudian diunduh dari memori satelit oleh operator stasiun bumi. Setelah itu, para ahli teknik ruang angkasa dari Kyushu Institute of Technology menganalisis dataset ini untuk mengklasifikasikan setiap sampel data menjadi kelas normal atau anomali. Dalam penelitian ini, setiap satelit memiliki satu berkas data yang mencakup informasi tentang panel surya dan baterai sejak mereka dikerahkan ke orbit hingga akhir masa hidup satelit tersebut. Tiga satelit yang dianalisis, yaitu UGUISU, RAAVANA, dan NEPALISAT, menunjukkan kegagalan pada salah satu panel surya mereka selama lebih dari dua tahun beroperasi di orbit, sementara dataset satelit TSURU mencakup data yang terus dikumpulkan sejak peluncurannya dan akan terus diperbaharui hingga akhir masa hidupnya.</div>

##### <div style="text-align: justify;"> Dataset yang dihasilkan sangat berguna bagi pengguna platform CubeSat 1U seperti BIRDS, serta bagi pengembang satelit. Dataset ini dapat digunakan sebagai referensi untuk membandingkan perilaku sistem kelistrikan mereka di bawah berbagai skenario operasional dan menyesuaikan misi mereka berdasarkan daya yang tersedia di orbit. Selain itu, dataset ini juga memberikan manfaat bagi peneliti ilmu komputer untuk membangun dan memvalidasi model-model baru untuk diagnosis kesalahan dan deteksi outlier, yang penting dalam mengidentifikasi potensi masalah pada sistem kelistrikan satelit secara lebih cepat dan efisien.</div>

### 1. Data Frame
---

##### <div style="text-align: justify;">DataFrame adalah struktur data dua dimensi dalam Python, yang disediakan oleh pustaka Pandas, dan digunakan secara luas dalam proses data cleaning. DataFrame sangat berguna karena menyediakan format tabel yang memungkinkan pengelolaan data dengan cara yang efisien dan intuitif. Pada data frame kali ini, dilakukan visualisasi data dalam bentuk tabel pada 2 file datasheet yang digunakan yaitu datasheet on-orbit dari sistem kelistrikan pada 4 cubesat 1U. Jenis Cubesat 1U tersebut yaitu TSURU dan UGUISU.</div>

In [61]:
import pandas as pd
import numpy as np
df = pd.read_csv('TSURU.csv')
df.head()

,Time stamp,Tpy (raw),Tpy (°C),Tpx (raw),Tpx (°C),Tmz (raw),Tmz (°C),Tmx (raw),Tmx (°C),Tpz (raw),...,Imx (raw),Imx (mA),Ipz (raw),Ipz (mA),Vbat (raw),Vbat (V),Ibatt(raw),Ibatt(mA),Tbatt (raw),Tbatt (℃)
0,0.0,0676,4.63,0668,6.19,06C3,-3.91,06A7,-0.81,0655,...,00,0.0,02,9.32,A1,4.1,07A1,280.91,A9,10.26
1,11.3,0679,4.30,066A,5.96,06C4,-4.02,06AB,-1.25,0659,...,00,0.0,01,4.66,A1,4.1,079D,292.62,A9,10.26
2,22.6,067F,3.63,066F,5.41,06C7,-4.36,06AE,-1.58,065E,...,00,0.0,01,4.66,A1,4.1,0789,351.19,A9,10.26
3,33.9,0683,3.19,0671,5.19,06CA,-4.69,06B2,-2.03,0662,...,00,0.0,02,9.32,A1,4.1,0798,307.26,A9,10.26
4,45.2,0688,2.63,0673,4.97,06CD,-5.02,06B5,-2.36,0665,...,00,0.0,01,4.66,A1,4.1,07A9,257.48,A9,10.26

In [16]:
import pandas as pd
import numpy as np
df = pd.read_csv('UGUISU.csv')
df.head()

,Time Stamp,Tpy (raw),Tpy (°C),Tpx (raw),Tpx (°C),Tmz (raw),Tmz (°C),Tmx (raw),Tmx (°C),Tpz (raw),...,Imx (raw),Imx (mA),Ipz (raw),Ipz (mA),Vbat (raw),Vbat (V),Ibatt(raw),Ibatt(mA),Tbatt raw),Tbatt (℃)
0,0,06AD,-1.47,068D,2.08,053D,39.37,06D4,-5.80,06BE,...,0C,55.93,0C,55.93,A5,4.2,0818,-67.57,FF,-22.68
1,5,06AD,-1.47,068E,1.97,053A,39.70,06D3,-5.69,06BE,...,0C,55.93,0C,55.93,A5,4.2,0815,-58.78,C3,0.30
2,10,06AC,-1.36,068F,1.86,0539,39.81,06D3,-5.69,06BE,...,0C,55.93,0C,55.93,A5,4.2,0815,-58.78,C3,0.30
3,15,06AC,-1.36,0691,1.64,0538,39.92,06D3,-5.69,06BE,...,0B,51.27,0C,55.93,A5,4.2,0816,-61.71,C3,0.30
4,20,06AB,-1.25,0692,1.53,0537,40.03,06D3,-5.69,06BE,...,0B,51.27,0D,60.59,A5,4.2,0814,-55.85,C3,0.30

### 2. Membuang Kolom
---

##### <div style="text-align: justify;">Fungsi drop data dalam proses cleaning data adalah untuk menghapus bagian-bagian tertentu dari sebuah dataset, seperti kolom atau baris, yang dianggap tidak relevan, tidak diperlukan, atau memiliki kualitas yang kurang baik. Proses ini dilakukan untuk meningkatkan kualitas data yang akan digunakan sehingga data menjadi lebih terstruktur, mudah dipahami, dan sesuai dengan kebutuhan analisis atau pemrosesan lebih lanjut. Dengan kata lain, fungsi drop data membantu menyaring hanya data yang relevan dan berkualitas baik sehingga dataset yang dihasilkan menjadi lebih siap untuk digunakan dalam proses berikutnya, seperti visualisasi atau pembuatan model prediktif. Proses ini sangat penting untuk memastikan hasil analisis yang akurat dan dapat diandalkan.</div>

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('TSURU.csv')
df.head()
df.drop(columns=['Ibatt(raw)','Tbatt (raw)', 'Tbatt (℃)'], inplace=True)

FileNotFoundError: [Errno 2] No such file or directory: 'TSURU.csv'

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('UGUISU.csv')
df.head()
df.drop(columns=['Ibatt(raw)','Tbatt raw)', 'Tbatt (℃)'], inplace=True)

##### <div style="text-align: justify;">Penghapusan kolom 'Ibatt(raw)', 'Tbatt (raw)', dan 'Tbatt (℃)' dalam dataset dilakukan karena dianggap tidak relevan atau tidak diperlukan untuk analisis lebih lanjut. Alasan di balik penghapusan ini dapat mencakup beberapa faktor, seperti ketidakrelevanan kolom tersebut terhadap tujuan analisis, sehingga keberadaannya hanya akan memperumit dataset tanpa memberikan nilai tambah yang signifikan. Dengan menghapus kolom yang tidak relevan, dataset menjadi lebih sederhana, lebih efisien untuk dikelola, dan lebih cepat diproses oleh algoritme atau analisis yang akan dilakukan. Hal ini juga membantu memastikan bahwa fokus analisis tertuju pada data yang benar-benar penting, sehingga risiko distraksi atau bias dalam analisis dapat diminimalkan.</div>

#### 3. Mengubah Indeks di DataFrame
---

##### <div style="text-align: justify;">Mengubah indeks pada proses cleaning data adalah langkah untuk memperbarui atau mengganti label indeks di dataset agar lebih relevan dengan kebutuhan analisis, memberikan informasi tambahan, atau membuat data lebih terorganisasi dan mudah digunakan. Dalam dataset, indeks adalah label unik yang digunakan untuk mengidentifikasi setiap baris.</div>

In [67]:
import pandas as pd
import numpy as np
df = pd.read_csv('TSURU.csv')
df['Time stamp'].is_unique

True

In [63]:
import pandas as pd
import numpy as np
df = pd.read_csv('UGUISU.csv')
df['Time Stamp'].is_unique

True

##### <div style="text-align: justify;">Kolom 'Time stamp' dapat dianggap sebagai kandidat yang baik untuk dijadikan indeks, terutama jika dataset memiliki kaitan dengan data berbasis waktu. Keunikan nilai dalam kolom ini menjadi faktor penting, karena indeks berfungsi untuk mengidentifikasi setiap baris secara unik tanpa kebingungan atau ambiguitas. Jika hasil pemeriksaan dengan is_unique menunjukkan nilai True, maka setiap baris memiliki waktu yang unik, menjadikannya sangat cocok untuk dijadikan indeks. Namun, jika hasilnya False, kolom ini tidak bisa langsung digunakan sebagai indeks tanpa langkah tambahan, seperti menghapus nilai duplikat atau menciptakan indeks gabungan dengan kolom lain agar keunikannya terjaga.</div>
##### <div style="text-align: justify;">Menggunakan 'Time stamp' sebagai indeks memberikan banyak manfaat, terutama dalam analisis berbasis waktu, seperti mengidentifikasi tren, membuat prediksi, atau mengelompokkan data ke dalam periode tertentu, misalnya mingguan, bulanan, atau tahunan. Selain itu, indeks berbasis waktu mempermudah seleksi data, memungkinkan pengguna untuk memfilter data pada rentang tanggal tertentu dengan lebih efisien. Hal ini membantu menjadikan dataset lebih terstruktur dan relevan untuk analisis yang berorientasi pada waktu.</div>

In [70]:
df = pd.read_csv('TSURU.csv')
df = df.set_index('Time stamp')
df.head()

,Tpy (raw),Tpy (°C),Tpx (raw),Tpx (°C),Tmz (raw),Tmz (°C),Tmx (raw),Tmx (°C),Tpz (raw),Tpz (°C),...,Imx (raw),Imx (mA),Ipz (raw),Ipz (mA),Vbat (raw),Vbat (V),Ibatt(raw),Ibatt(mA),Tbatt (raw),Tbatt (℃)
Time stamp,,,,,,,,,,,,,,,,,,,,,
0.0,0676,4.63,0668,6.19,06C3,-3.91,06A7,-0.81,0655,8.29,...,00,0.0,02,9.32,A1,4.1,07A1,280.91,A9,10.26
11.3,0679,4.30,066A,5.96,06C4,-4.02,06AB,-1.25,0659,7.85,...,00,0.0,01,4.66,A1,4.1,079D,292.62,A9,10.26
22.6,067F,3.63,066F,5.41,06C7,-4.36,06AE,-1.58,065E,7.30,...,00,0.0,01,4.66,A1,4.1,0789,351.19,A9,10.26
33.9,0683,3.19,0671,5.19,06CA,-4.69,06B2,-2.03,0662,6.85,...,00,0.0,02,9.32,A1,4.1,0798,307.26,A9,10.26
45.2,0688,2.63,0673,4.97,06CD,-5.02,06B5,-2.36,0665,6.52,...,00,0.0,01,4.66,A1,4.1,07A9,257.48,A9,10.26

In [68]:
df = pd.read_csv('UGUISU.csv')
df = df.set_index('Time Stamp')
df.head()

,Tpy (raw),Tpy (°C),Tpx (raw),Tpx (°C),Tmz (raw),Tmz (°C),Tmx (raw),Tmx (°C),Tpz (raw),Tpz (°C),...,Imx (raw),Imx (mA),Ipz (raw),Ipz (mA),Vbat (raw),Vbat (V),Ibatt(raw),Ibatt(mA),Tbatt raw),Tbatt (℃)
Time Stamp,,,,,,,,,,,,,,,,,,,,,
0,06AD,-1.47,068D,2.08,053D,39.37,06D4,-5.80,06BE,-3.36,...,0C,55.93,0C,55.93,A5,4.2,0818,-67.57,FF,-22.68
5,06AD,-1.47,068E,1.97,053A,39.70,06D3,-5.69,06BE,-3.36,...,0C,55.93,0C,55.93,A5,4.2,0815,-58.78,C3,0.30
10,06AC,-1.36,068F,1.86,0539,39.81,06D3,-5.69,06BE,-3.36,...,0C,55.93,0C,55.93,A5,4.2,0815,-58.78,C3,0.30
15,06AC,-1.36,0691,1.64,0538,39.92,06D3,-5.69,06BE,-3.36,...,0B,51.27,0C,55.93,A5,4.2,0816,-61.71,C3,0.30
20,06AB,-1.25,0692,1.53,0537,40.03,06D3,-5.69,06BE,-3.36,...,0B,51.27,0D,60.59,A5,4.2,0814,-55.85,C3,0.30

In [18]:
df.loc[200]

Time Stamp       1000
Tpy (raw)        063C
Tpy (°C)        11.07
Tpx (raw)        068E
Tpx (°C)         1.97
Tmz (raw)        0674
Tmz (°C)         4.85
Tmx (raw)        0616
Tmx (°C)        15.29
Tpz (raw)        061D
Tpz (°C)        14.51
Vpy (raw)        0643
Vpy (mV)      2446.58
Vpx (raw)        0D97
Vpx (mV)      5309.83
Vmz (raw)        0D6A
Vmz (mV)      5241.15
Vmx (raw)        0C78
Vmx (mV)      4871.79
Vpz (raw)        0DAF
Vpz (mV)      5346.46
Ipy (raw)           1
Ipy (mA)         4.66
Ipx (raw)          10
Ipx (mA)        74.58
Imz (raw)          02
Imz (mA)         9.32
Imx (raw)          01
Imx (mA)         4.66
Ipz (raw)          20
Ipz (mA)       149.16
Vbat (raw)         A5
Vbat (V)          4.2
Ibatt(raw)       080A
Ibatt(mA)      -26.57
Tbatt raw)         C1
Tbatt (℃)        1.07
Name: 200, dtype: object

#####  <div style="text-align: justify;">Perintah df.loc[200] dalam Python dengan pustaka pandas digunakan untuk mengakses data di baris yang memiliki label indeks bernilai 200 dalam DataFrame df. Ini sangat berguna ketika Anda ingin mengambil data berdasarkan label indeks tanpa perlu mengetahui posisi atau urutan baris secara numerik. Hal ini memberikan fleksibilitas, karena loc dapat digunakan baik untuk indeks yang berbentuk angka (seperti indeks default yang dimulai dari 0) maupun untuk indeks yang berbasis kategori, seperti tanggal atau ID unik. Dengan menggunakan perintah ini, Anda bisa langsung mengakses satu baris data yang spesifik untuk analisis lebih lanjut, sehingga mempercepat proses pengambilan informasi dan membantu fokus pada data yang relevan. Jika data dalam indeks tersebut ada, Anda akan mendapatkan seluruh nilai di baris tersebut, yang mempermudah proses seleksi data yang diinginkan.</div>

In [20]:
import pandas as pd
import numpy as np
df = pd.read_csv('UGUISU.csv')
df.set_index('Time Stamp', inplace=True)

#### 4. Merapihkan Fields dalam Data 
---

#####  <div style="text-align: justify;">Fungsi merapikan fields data dalam proses pembersihan data adalah untuk memastikan bahwa setiap kolom dalam dataset terorganisir dengan baik, memiliki format yang seragam, dan sesuai dengan kebutuhan analisis. Hal ini mencakup beberapa langkah penting untuk memperbaiki kualitas dan konsistensi data, agar data tersebut siap digunakan dengan efektif. Beberapa langkah dalam merapikan data termasuk menghapus spasi berlebih yang tidak diperlukan pada awal atau akhir data, mengganti nilai yang tidak konsisten dengan standar tertentu (seperti penulisan nama atau kategori yang bervariasi), serta mengonversi tipe data agar sesuai, seperti mengubah data yang seharusnya berupa angka menjadi tipe data numerik. Selain itu, data yang hilang atau kosong perlu ditangani, bisa dengan mengisinya menggunakan nilai rata-rata, median, atau menghapus baris yang memiliki nilai hilang jika itu tidak relevan. Perbaikan format tanggal juga penting untuk memastikan bahwa data tanggal tercatat dalam format yang konsisten dan mudah diproses. Menghapus duplikasi sangat penting untuk memastikan bahwa tidak ada baris yang terulang dalam dataset, yang bisa menyebabkan kebingungan atau bias dalam analisis. Terakhir, penyaringan data membantu menghapus baris yang tidak relevan atau tidak sesuai dengan kriteria tertentu, sehingga dataset hanya berisi data yang benar-benar diperlukan untuk analisis yang lebih lanjut. Semua langkah ini berperan penting dalam membuat dataset lebih bersih, terstruktur, dan siap untuk dianalisis secara lebih efisien dan akurat.</div>

In [12]:
df.dtypes.value_counts()

float64    17
object     15
int64       1
Name: count, dtype: int64

##### <div style="text-align: justify;">Perintah df.dtypes.value_counts() dalam Python menggunakan pustaka pandas berfungsi untuk menghitung dan menampilkan jumlah kemunculan tiap tipe data di setiap kolom dalam DataFrame df. Dengan menggunakan fungsi ini, kita bisa melihat jenis data apa saja yang ada dalam dataset, seperti angka (dengan tipe int64 atau float64) atau teks (dengan tipe object atau string). Fungsi ini sangat berguna dalam proses pembersihan data karena dapat membantu kita memeriksa apakah tipe data dalam setiap kolom sudah sesuai dengan isinya. Misalnya, jika ada kolom yang seharusnya berisi angka, seperti kolom usia atau harga, tetapi tercatat sebagai teks, kita bisa mengetahui hal ini dan segera memperbaikinya. Fungsi ini juga mempermudah kita dalam mengidentifikasi kolom yang perlu dikonversi tipe datanya, misalnya mengubah kolom yang berisi angka tapi tercatat sebagai string menjadi tipe numerik, atau mengonversi kolom tanggal ke tipe yang benar. Dengan begitu, kita bisa memastikan bahwa dataset sudah terstruktur dengan benar dan siap untuk dianalisis tanpa masalah tipe data yang salah.</div>
##### <div style="text-align: justify;">Hasil output menunjukkan bahwa dalam dataset ini, terdapat 17 kolom yang berisi data numerik desimal (tipe data float64), yang umumnya digunakan untuk angka dengan nilai desimal. Ada 15 kolom yang bertipe data object, yang biasanya berisi teks atau kategori, seperti nama atau ID. Selain itu, terdapat 1 kolom yang bertipe data int64, yang berisi angka bulat atau integer, yang biasa digunakan untuk data numerik tanpa nilai desimal.</div>

In [29]:
df.loc[20:,'Tpy (°C)'].head(20)

Time Stamp
20    -1.25
25    -1.03
30    -0.81
35    -0.58
40    -0.25
45     0.08
50     0.53
55     0.97
60     1.53
65     2.19
70     2.63
75     3.19
80     3.86
85     4.41
90     5.08
95     5.74
100    6.41
105    7.07
110    7.74
115    8.29
Name: Tpy (°C), dtype: float64

##### <div style="text-align: justify;">Fungsi kode df.loc[20:, 'Tpy (°C)'].head(20) digunakan untuk mengambil data dari kolom Tpy (°C) mulai dari baris ke-20 dan seterusnya, tetapi hanya menampilkan 20 nilai pertama yang terambil. Perintah loc digunakan untuk memilih baris dan kolom tertentu, sementara head(20) membatasi hasil hanya pada 20 data pertama, meskipun kita sudah memilih baris dari baris ke-20. Kode ini sangat berguna untuk melihat data secara cepat, memastikan apakah nilai yang ada di kolom tersebut sesuai dengan yang diharapkan dan apakah ada masalah seperti data yang tidak konsisten atau tidak relevan.</div>
##### <div style="text-align: justify;">Dalam konteks cleaning data, kode ini memungkinkan kita untuk memeriksa berbagai hal penting. Pertama, kita dapat memeriksa distribusi nilai dalam kolom Tpy (°C), untuk memastikan apakah data tersebut konsisten dan masuk akal untuk analisis lebih lanjut. Jika terdapat nilai yang tidak wajar atau lonjakan tiba-tiba, kita dapat mendeteksi adanya outliers yang perlu diperbaiki. Selain itu, kita bisa memeriksa apakah ada nilai yang hilang (misalnya, nilai NaN) dan menangani masalah tersebut, baik dengan mengisi nilai yang hilang atau menghapus baris tersebut. Fungsi ini juga mempermudah validasi apakah format data, seperti satuan suhu dalam derajat Celsius, sudah konsisten, dan apakah ada kesalahan dalam penulisan data.</div>

In [36]:
import pandas as pd

# Memuat file CSV
file_path = 'UGUISU.csv'
df = pd.read_csv(file_path)

# Menampilkan nama kolom untuk memastikan kolom yang digunakan benar
print(df.columns)

# Menghilangkan spasi pada nama kolom jika ada
df.columns = df.columns.str.strip()

# Regex pattern untuk mengekstrak angka menit (satu atau lebih digit)
regex_pattern = r'(\d+)'

# Menggunakan regex untuk mengekstrak angka menit dari kolom "Time Stamp"
df['Minutes_Extracted'] = df['Time Stamp'].astype(str).str.extract(regex_pattern)

# Mengubah hasil ekstraksi ke tipe numerik
df['Minutes_Extracted'] = pd.to_numeric(df['Minutes_Extracted'], errors='coerce')

# Menampilkan beberapa baris pertama hasil ekstraksi
print(df[['Time Stamp', 'Minutes_Extracted']].head())

Index(['Time Stamp', 'Tpy (raw)', 'Tpy (°C)', 'Tpx (raw)', 'Tpx (°C)',
       'Tmz (raw)', 'Tmz (°C)', 'Tmx (raw)', 'Tmx (°C)', 'Tpz (raw)',
       'Tpz (°C)', 'Vpy (raw)', 'Vpy (mV)', 'Vpx (raw)', 'Vpx (mV)',
       'Vmz (raw)', 'Vmz (mV)', 'Vmx (raw)', 'Vmx (mV)', 'Vpz (raw)',
       'Vpz (mV)', 'Ipy (raw)', 'Ipy (mA)', 'Ipx (raw)', 'Ipx (mA)',
       'Imz (raw)', 'Imz (mA)', 'Imx (raw)', 'Imx (mA)', 'Ipz (raw)',
       'Ipz (mA)', 'Vbat (raw)', 'Vbat (V)', 'Ibatt(raw)', 'Ibatt(mA)',
       'Tbatt raw)', 'Tbatt (℃)'],
      dtype='object')
   Time Stamp  Minutes_Extracted
0           0                  0
1           5                  5
2          10                 10
3          15                 15
4          20                 20

##### <div style="text-align: justify;">Kode ini digunakan untuk membersihkan dan mengekstrak data dari kolom Time Stamp dalam dataset. Langkah pertama adalah memastikan bahwa format kolom Time Stamp konsisten dan dapat diproses dengan benar. Dengan menghapus spasi yang tidak perlu dan mengekstrak angka menit menggunakan regular expression (regex), kode ini mengurangi masalah yang bisa muncul jika data waktu tidak terstruktur dengan baik. Hal ini penting untuk analisis lebih lanjut, seperti pengelompokan atau perhitungan berbasis waktu.</div>
##### <div style="text-align: justify;">Proses ekstraksi memastikan hanya angka yang diambil dari kolom Time Stamp, yang membantu menghindari data yang tidak sesuai, seperti teks atau simbol yang tercampur. Setelah itu, data yang diekstrak diubah menjadi tipe numerik agar bisa digunakan dalam perhitungan lebih lanjut. Jika ada nilai yang tidak bisa dikonversi, nilai tersebut diubah menjadi NaN, yang memudahkan untuk mendeteksi dan memperbaiki data yang bermasalah. Hasilnya, kolom Minutes_Extracted yang berisi angka yang terstruktur siap digunakan untuk analisis berbasis waktu atau pengolahan data lebih lanjut.</div>

In [37]:
df['Time Stamp'].isnull().sum() / len(df)

0.0

In [38]:
df['Time Stamp'].head(10)

0     0
1     5
2    10
3    15
4    20
5    25
6    30
7    35
8    40
9    45
Name: Time Stamp, dtype: int64

In [39]:
df.loc[1000]

Time Stamp              5000
Tpy (raw)               0620
Tpy (°C)               14.18
Tpx (raw)               06D7
Tpx (°C)               -6.13
Tmz (raw)               06FF
Tmz (°C)              -10.57
Tmx (raw)               070A
Tmx (°C)              -11.79
Tpz (raw)               06F6
Tpz (°C)               -9.57
Vpy (raw)               06A7
Vpy (mV)             2599.21
Vpx (raw)               0B98
Vpx (mV)             4529.91
Vmz (raw)               0C09
Vmz (mV)             4702.38
Vmx (raw)               0C05
Vmx (mV)             4696.28
Vpz (raw)               0BE4
Vpz (mV)             4645.91
Ipy (raw)                  1
Ipy (mA)                4.66
Ipx (raw)                 01
Ipx (mA)                4.66
Imz (raw)                 5B
Imz (mA)              424.16
Imx (raw)                 26
Imx (mA)              177.12
Ipz (raw)                 08
Ipz (mA)               37.29
Vbat (raw)                A2
Vbat (V)                4.12
Ibatt(raw)              0887
Ibatt(mA)            -392.61
Tbatt raw)                C1
Tbatt (℃)               1.07
Minutes_Extracted       5000
Name: 1000, dtype: object

In [40]:
df.loc[300]

Time Stamp              1500
Tpy (raw)               0609
Tpy (°C)               16.73
Tpx (raw)               0686
Tpx (°C)                2.86
Tmz (raw)               0660
Tmz (°C)                7.07
Tmx (raw)               05C1
Tmx (°C)               24.72
Tpz (raw)               061E
Tpz (°C)                14.4
Vpy (raw)               05E7
Vpy (mV)             2306.17
Vpx (raw)               0C88
Vpx (mV)             4896.21
Vmz (raw)               0CAA
Vmz (mV)             4948.11
Vmx (raw)               0CB1
Vmx (mV)             4958.79
Vpz (raw)               0CC8
Vpz (mV)             4993.89
Ipy (raw)                  1
Ipy (mA)                4.66
Ipx (raw)                 02
Ipx (mA)                9.32
Imz (raw)                 08
Imz (mA)               37.29
Imx (raw)                 0E
Imx (mA)               65.26
Ipz (raw)                 1B
Ipz (mA)              125.85
Vbat (raw)                A5
Vbat (V)                 4.2
Ibatt(raw)              0800
Ibatt(mA)               2.72
Tbatt raw)                BE
Tbatt (℃)               2.22
Minutes_Extracted       1500
Name: 300, dtype: object

#### 5. Membersihkan Kolom dengan Kombinasi metode str dengan NumPy 
---

#####  <div style="text-align: justify;">Fungsi membersihkan kolom dengan menggabungkan metode str dan NumPy dalam proses pembersihan data bertujuan untuk memastikan data dalam kolom yang berisi teks atau string menjadi lebih terstruktur, konsisten, dan mudah diproses. Dengan menggunakan metode str, kita dapat memperbaiki format teks, seperti menghapus spasi berlebih, mengganti nilai yang tidak konsisten, atau mengekstrak bagian tertentu dari teks. Sementara itu, NumPy berfungsi untuk menangani nilai yang hilang, mengubah tipe data yang tidak sesuai, atau mengganti data yang rusak dengan nilai yang lebih tepat. Kombinasi kedua metode ini memungkinkan kita membersihkan data secara efisien dan cepat, sehingga data siap untuk analisis lebih lanjut tanpa masalah terkait format atau kualitas.</div>

In [75]:
file_path = 'NEPALISAT.csv'
df = pd.read_csv(file_path)
pub = df['Tbatt raw)']
AF = pub.str.contains('AF')
AF[:5]
yoi = pub.str.contains('AF')
df['Tbatt raw)'] = np.where(AF, 'B0',
                                      np.where(yoi, 'yoi',
                                               pub.str.replace('-', ' ')))
df['Tbatt raw)'].head()

0    B0
1    B0
2    B0
3    B0
4    B0
Name: Tbatt raw), dtype: object

##### <div style="text-align: justify;">Fungsi kode ini bertujuan untuk membersihkan dan memperbaiki nilai dalam kolom 'Tbatt raw)' pada dataset dengan mengganti beberapa nilai yang tidak konsisten atau salah format. Salah satu langkah yang dilakukan adalah mengganti nilai yang mengandung substring 'AF' dengan nilai yang lebih jelas dan konsisten, seperti 'B0' atau 'yoi'. Hal ini berguna untuk memperbaiki kesalahan penulisan atau untuk menstandarkan data, sehingga data yang ada menjadi lebih mudah dipahami dan digunakan. Selain itu, tanda minus ('-') yang mungkin tidak sesuai atau tidak relevan dalam kolom tersebut digantikan dengan spasi (' '), yang membantu menjaga konsistensi format data.</div>
##### <div style="text-align: justify;">Kode ini juga menggunakan metode str.contains() untuk mendeteksi pola teks tertentu dalam kolom dan mengganti nilai berdasarkan pola yang ditemukan. Ini memungkinkan untuk membersihkan data dengan menyesuaikan nilai yang tidak sesuai atau tidak relevan. Dengan melakukan penggantian nilai secara sistematis dan berdasarkan kondisi yang jelas, data menjadi lebih konsisten, lebih terstruktur, dan lebih siap untuk analisis lebih lanjut. Proses ini menyederhanakan data, mengurangi ambiguitas, dan memastikan bahwa data yang digunakan lebih dapat diandalkan dan mudah dianalisis.</div>

In [ ]:
df.head()

#### 6. Membersihkan Seluruh Dataset dengan Fungsi applymap
---

##### <div style="text-align: justify;">Fungsi applymap() dalam pandas digunakan untuk menerapkan sebuah fungsi atau operasi pada setiap elemen dalam seluruh DataFrame secara bersamaan. Hal ini sangat berguna dalam proses pembersihan data karena kita dapat membersihkan atau mentransformasi data di seluruh dataset dengan cepat dan efisien, tanpa perlu memproses kolom atau baris satu per satu. Misalnya, kita bisa melakukan perubahan seperti menghapus spasi ekstra, mengganti nilai tertentu, atau mengubah format data di setiap sel, semuanya dalam satu langkah. Dengan applymap(), kita bisa memastikan bahwa perubahan yang diterapkan konsisten di seluruh data, memudahkan pembersihan, dan menghemat waktu dalam proses pembersihan data.</div>

In [87]:
# Initialize an empty list to store the processed data
processed_data = []
file_path = 'NEPALISAT.csv'
# Open the file and read line by line
with open(file_path, 'r') as file:
    for line in file:
        line = line.strip()  # Remove extra whitespace and newline characters
        if '[edit]' in line:  # Check if the line indicates a category
            category = line  # Update the category
        else:
            # Append the category and current line as a tuple
            processed_data.append((category, line))

# Print the first 5 processed items
processed_data[:5]

NameError: name 'category' is not defined

In [86]:
import pandas as pd
nepalisat_df = pd.DataFrame(processed_data,
                        columns=['category', 'line'])

nepalisat_df.head()

Empty DataFrame
Columns: [category, line]
Index: []

In [77]:
contoh_data = {0 : ['mock','python','real','numpy'],
               1 : ['Dataset','pandas','python','clean']}

contoh_dataframe = pd.DataFrame(contoh_data)

contoh_dataframe.head()

        0        1
0    mock  Dataset
1  python   pandas
2    real   python
3   numpy    clean

In [90]:
def get_citystate(item):
     if ' (' in item:
         return item[:item.find(' (')]
     elif '[' in item:
         return item[:item.find('[')]
     else:
         return item

In [89]:
def get_citystate(item):
    if pd.isna(item):  # Periksa jika item adalah NaN atau None
        return item  # Kembalikan item tanpa perubahan
    item = str(item)  # Pastikan item berupa string
    if ' (' in item:
        return item[:item.find(' (')].strip()
    elif '[' in item:
        return item[:item.find('[')].strip()
    else:
        return item.strip()

# Terapkan fungsi ke seluruh DataFrame
nepalisat_df_cleaned = nepalisat_df.applymap(get_citystate)

# Menampilkan 5 baris pertama dari DataFrame yang telah dibersihkan
nepalisat_df_cleaned.head()

Empty DataFrame
Columns: [category, line]
Index: []

### Penjelasan:
Kode tidak dapat berjalan karena pada dataset tidak ada data tipe str/string